@use "../configs/vars" as v;

/* ============================================
   LOGO COMPONENT
   ============================================ */
.typo-logo {
  font-family: 'rajdhani';
  display: flex;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 1.75rem;

  .white { color: v.$white; }
  .primary { color: v.$primary; }
}
