@use "../cofigs/vars" as v;

.service-intro, .solution-intro {
  position: relative;
  z-index: 10;
  height: 60vh;

  .video {
    position: absolute;
    inset: 0;
    z-index: 11;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center left;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 100%);
      z-index: 12;
      pointer-events: none;
    }
  }

  .s-section__content {
    position: relative;
    z-index: 13;
    word-break: keep-all;
    white-space: pre-wrap;
  }

  .s-section__animation {
    display: flex;
    align-items: center;
  }
}
